<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- Include the Open Sans font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic-ext" rel="stylesheet" />
</head>
<body>
    <div class="center message">
        <h1>This page Doesn't exist!</h1>
        <p>Would you like to try our <a href="/">homepage</a> instead?</p>
    </div>
</body>
</html>