<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>

<aside>

    <h1><a href="/">NekoIT</a></h1>

    <p class="description"></p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="https://tutorialzine.com/members/">Members area</a></li>
        <li><a href="https://tutorialzine.com/contact/">Contact Us</a></li>
    </ul>

    <p class="author"></p>

</aside>
<section id="content">
{% block content %}{% endblock %}
</section>
</body>
</html>